server:
  port: 8091

spring:
  datasource:
    username: postgres
    password: root
    url: jdbc:postgresql://localhost:5432/Java4SocialMediaUserDb

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true